p{
  text-align: justify;
  color: white;
}
h2{
  color: white;
  font-family: consolas;
}
.e{
  font-family: consolas;
  font-size: 18px;
  background: linear-gradient(#1497be,#1c2aec);
  color: transparent;
  background-clip: text ;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  animation: text 5s linear infinite;
}
@keyframes text{
  0%{
      filter: hue-rotate(0deg);
  }
  100%{
      filter: hue-rotate(360deg);
  }
}
