<!DOCTYPE html>
<html>
  <body>
    <div class="container">
      <h2 class="title">Breaking Bad API</h2>
      <h2>Datos:</h2>
    <div class="row">
        <div class="col mb-5" *ngFor="let personaje of personajes" >
            <img class="card-img-top" src={{personaje.img}}>
            <p>Nombre:</p>
            <div class="e">
              <h5>{{personaje.name}}</h5>
            </div>
            <p>Sobrenombre:</p>
            <div class="e">
              <h5>{{personaje.nickname}}</h5>
            </div>
            <p>Estado</p>
            <div class="e">
              <h5>{{personaje.status}}</h5>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
